* {
    margin: 0;
    padding: 0;
}

html { 
    font-size: 62.5%; 
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

body {
    width: 1000px;
    height: 700px; 
    margin-top: 40px;
    background-color: #2C3539;
    /* margin-left: 220px; */
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.screen--start {
    background-image: url('../images/level1.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.enemylvl1 {
    width: 100%;
    height: 100%;
}

.spawn {
    display: inline-block;
    width: 4.5%; /* 6.5%*/
    height: 16%; /*19% */ 
    border: .1rem solid black;
    position: relative; 
}

.one {
    position: absolute;
    top: 44%;
    left: 7%;
}

.two {
    position: absolute; 
    top: 40%;
    left: 17.5%; 
}

#screen {
    width: 100%;
    height: 85%;
    border: .6rem solid black;
    margin-top: 55px;
    margin: 0 auto;
    cursor: url("../images/xhair.png") 62 59, crosshair;
    text-align: center;
    position: relative;
    background-color: #ffff;
    /* justify-content: center; */
}

#reload {
    font-size: 2.2rem;
    width: 7%;
    height: 3%;
}

#start-btn {
    cursor: url("../images/xhair.png") 62 59, crosshair;
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 26%;
    width: 12%;
    height: 8%;
    background-color: rgb(70, 70, 70);
    border: .2rem solid rgb(70, 70, 70);
    border-radius: 15px;
    color: white;
}

#start-btn:hover {
    background-color: white;
    color:  rgb(92, 92, 92);
}

#gun {
    position: absolute;
    width: 40%;
    height: 40%;
    /* margin-left: 40%; */
    top: 60%;
    left: 55%;
    /* margin-top: 18.25%;  */
}

#ak {
    width: 110%;
    height: 100%;
    cursor: url("../images/xhair.png") 62 59, crosshair;
}